<html>
	<head>
		<title>B-movie title generator</title>
		<meta name="viewport" content="width=400;" />
	</head>
	<body>
		<center>
			<p>Coming Soon To A Theater Near You:</p>
			<font size=+2>
				<p><%=title%></p>
			</font>
			<form>
				<input type='button' value='Another' onClick='window.location.reload()' />
			</form>
		</center>
	</body>
</html>
